# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~

########################
# OS or Editor folders
########################

nbproject
Thumbs.db
.DS_Store
._*
*.sublime-*
.git
.CVS
.idea
node_modules
composer.lock

tmp-*
temp-*

/logs
/tmp
/INF
/vendors
/private

!/vendors/empty
!/logs/README.md
!/tmp/empty
