# no scan directories
DirectoryIndex index.php
Options -Indexes
Options +FollowSymLinks
AddDefaultCharset utf-8


# for current work

php_value memory_limit 128M
php_value max_execution_time 150

php_flag magic_quotes_gpc Off
php_flag session.auto_start Off
php_flag magic_quotes_runtime Off
php_flag short_open_tag Off
php_flag register_globals Off

php_value request_order GP
php_value date.timezone Europe/Moscow

#
# Rewrite Module
# 
RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /
# 
# RewriteRule ^([a-z]+[a-z0-9]*/?)*$ index.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-z0-9]*/?)*$ index.php [QSA,L]
#RewriteRule ^ index.inc.php [QSA,L]
